<h1> Show page </h1>
<ul>
  Title : &nbsp <%= @article.title %> <br>
  <br>
  Description : &nbsp <%= @article.description %>
</ul><br>

<%= link_to "Back to Main", articles_path %> <br>
<%= link_to "Edit this Article", edit_article_path(@article) %>
<%= link_to "Delete this Article", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}%>
